/* header.css */

/* Style for the header container */
.firstHeader {
  background-color: #e42424;
  padding: 10px 10px;
  position : fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  left: 0;
}


/* Style for the navigation bar */
.firstHeader nav{
  display: flex;
  justify-content: space-between;
  margin-right: 24px;
}

.firstHeader h1{
  color: #fff;
  margin-left: 24px;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;  
}

footer{
  background-color: #7c7777;
  padding: 10px 10px;
  position : fixed;
  width: 100%;
  bottom: 0;
  left: 0;    

}



/* Style for the navigation links */
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

/* Style for the content */

.content {
  padding: 20px;
  width: 100%;
  height: fit-content;
}   
  
